<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Add Admin/User</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	<style typeouterDiv="text/css">
		.outerDiv{height:40px;width:100%;}
		#div1{width:20%;}
		input,button{width:100%;height:40px;box-sizing: border-box;}
		a{text-decoration: none;margin: 10px;}
		table {margin-top: 20px;margin-left: 20px;}
		td{text-align: center;}
	</style>
	
</head>
<body> 

	<a href="#!report1">Report</a>
	<a href="#!admin">Admin</a>
	<a href="#!userManagement">User Management</a>
	<a href="#!logOut">LogOut</a><br><br><br>
	
	<a href="#!addAdminUser">Add Admin/User</a>
	<a href="#!deleteAdminUser">Delete Admin/User</a>
	<a href="#!changePassword">Change password</a>
	<a href="#!getAllUsers">Get Users List</a>
		
	<table border="3" cellspacing="2" id="tbUser">
		<tr>
			<th>Username</th>
<!-- 			<th>Password</th> -->
			<th>isAdmin</th>
			<th>Delete Users</th>
		</tr>
		<tr ng-repeat="objData in JSONData">
			<td class="username">{{objData.map.username}}</td>
<!-- 			<td>{{objData.map.password}}</td> -->
			<td>{{objData.map.userRole}}</td>
<!-- 			<td><button class="btnDelete">delete</button></td>  For jquery code-->
			<td><button ng-click="deleteRow($index)">delete</button></td> <!-- For angularjs code--> 
		</tr>	
	</table>	
		
</body>
</html>


